{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} - {{ title }}{% endblock %}

{% block body %}
<div id="main-wrapper" style="background: rgba(255, 255, 255, 0.5);">
    <div class="container">
        <div class="row">
            <div class="12u skel-cell-important">
                <div id="content">
                    <article class="last">
                        <h2>Your Account</h2>
                        
                        <a href="{% url 'logout' %}">Log out</a>
                        
                        <h3>Actions</h3>
                        <ul>
                            <li><a href="#">Submit an entry to a Challenge</a></li>
                            <li><a href="#">View your past entries</a></li>
                            {% if user.is_staff %}<li><a href="{% url 'admin:index' %}">Open administration panel</a></li>{% endif %}
                        </ul>
                        
                        <h3>Account information</h3>
                        <a href="{% url 'account_edit' %}">Edit all account information</a>
                        <table style="width: 100%;">
                            <tr>
                                <td>
                                    <label for="username">Username</label>
                                </td>
                                <td>
                                    {{ user.username }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="password">Password</label>
                                </td>
                                <td>
                                    <a href="{% url 'password_change' %}">Change your password</a>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <h4>Participant information</h4>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="firstname">First name</label>
                                </td>
                                <td>
                                    {{ user.first_name }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="lastname">Last name</label>
                                </td>
                                <td>
                                    {{ user.last_name }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="email">Email address</label>
                                </td>
                                <td>
                                    {{ user.email }} - <a href="#">Edit</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="phone">Phone number</label>
                                </td>
                                <td>
                                    {{ user.phone }} - <a href="#">Edit</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="locationaddress">Address</label>
                                </td>
                                <td>
                                    <span style="white-space: pre-line;">{{ user.location_address }}</span><br>
                                    {{ user.location_state }} {{ user.location_postcode }}
                                </td>
                            </tr>
                        </table>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}