{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} - {{ submission.title }}{% endblock %}

{% block body %}
<div id="main-wrapper">
    <div class="container">
        <div class="row">
            <div class="12u skel-cell-important">
                    <div id="content">
                        <h2>{{ submission.title }}</h2>
                    </div>
            </div>
        </div>
    </div>
</div>
<div id="youtube-wrapper"><iframe allowfullscreen="" frameborder="0" src="http://www.youtube.com/embed/{{ submission.youtube_id }}"></iframe></div>
<div id="main-wrapper">
    <div class="container">
        <div class="row">
            <div class="12u skel-cell-important">
                    <div id="content">
                        <article class="last">
                            <p>
                                <span class="byline">{{ submission.get_users }}</span>
                                <span class="byline">{{ submission.date_submitted|date:"r" }}</span>
                                <span class="byline">{{ submission.age_category.name }} category</span>
                            </p>
                            <div>
                            {{ submission.body|safe }}
                            </div>
                        </article>
                    </div>

            </div>
        </div>
    </div>
</div>
{% endblock body %}