{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} - Log in{% endblock %}

{% block body_class %}{% endblock %}

{% block body %}
<table style="width: 100%;">
    <tr>
        <td>
            <h2>Log in</h2>
            <form method="post" action=".">
                {% csrf_token %} 
                {{ form.as_p }}

                <input type="submit" value="Log in" />
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
            <p>Forgot password? <a href="{% url 'password_reset' %}">Reset it</a>!</p>
        </td>
        <td>
            <h2>Register</h2>
            <a href="{% url 'register' %}">Register</a>
        </td>
    </tr>
</table>
{% endblock body %}