{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} - Password reset{% endblock %}

{% block body_class %}{% endblock %}

{% block body %}
<div id="main-wrapper">
    <div class="container">
        <div class="row">
            <div class="12u skel-cell-important">
                <div id="content">
                    <article class="last">
                        <h2>Password reset successful</h2>
                        <p>Your password has been set. You may go ahead and log in now.</p>
                        <p><a href="{{ login_url }}">Log in</a></p>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}