{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} - Password change{% endblock %}

{% block body_class %}{% endblock %}

{% block body %}
<div id="main-wrapper">
    <div class="container">
        <div class="row">
            <div class="12u skel-cell-important">
                <div id="content">
                    <article class="last">
                        <h2>Password change successful</h2>
                        <a href="{% url 'account_page_display' %}">Return to Accounts page</a>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}