{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} - {{ title }}{% endblock %}

{% block body %}
<div id="main-wrapper" style="background: rgba(255, 255, 255, 0.5);">
    <div class="container">
        <div class="row">
            <div class="12u skel-cell-important">
                <div id="content">
                    <article class="last">
                        <h2>Register for the Robogals Science Challenge</h2>
                        <p></p>
                        <form action="." method="post">
                            <table style="width: 100%;">
                                <tr>
                                    <td colspan="2">
                                        <h4>Participant account information</h4>
                                        <p>Set up the participant's account details.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="username">Username</label>
                                    </td>
                                    <td>
                                        <input id="username" maxlength="63" pattern="[a-zA-Z0-9-_\.]*" title="Enter only alphanumeric characters, periods (.), hyphens (-) and underscores (_)." required></input>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="password">Password</label>
                                    </td>
                                    <td>
                                        <input id="password" type="password" pattern=".{8,}" title="Enter a minimum of 8 characters." required></input>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="password2">Password (repeat)</label>
                                    </td>
                                    <td>
                                        <input id="password2" type="password" pattern=".{8,}" title="Enter a minimum of 8 characters." required></input>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <h4>Participant information</h4>
                                        <p>Participants must register individually. Groups can be formed on submissions.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="firstname">First name</label>
                                    </td>
                                    <td>
                                        <input id="firstname" required></input>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="lastname">Last name</label>
                                    </td>
                                    <td>
                                        <input id="lastname" required></input>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="email">Email address</label>
                                    </td>
                                    <td>
                                        <input id="email" type="email" required></input>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="phone">Phone number</label>
                                    </td>
                                    <td>
                                        <input id="phone" pattern="[0-9]*" required></input>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="dobmonth">Date of Birth (MM/YYYY)</label>
                                    </td>
                                    <td>
                                        <select id="dobmonth">
                                            <option value="1">January</option>
                                            <option value="2">February</option>
                                            <option value="3">March</option>
                                            <option value="4">April</option>
                                            <option value="5">May</option>
                                            <option value="6">June</option>
                                            <option value="7">July</option>
                                            <option value="8">August</option>
                                            <option value="9">September</option>
                                            <option value="10">October</option>
                                            <option value="11">November</option>
                                            <option value="12">December</option>
                                        </select>
                                        <select id="dobyear">{% for year in dob_year_select_range %}
                                            <option value="{{ year }}" {% if year == dob_year_select_default %}selected{% endif %}>{{ year }}</option>{% endfor %}
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="locationaddress">Address</label>
                                    </td>
                                    <td>
                                        <textarea id="locationaddress" required></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="locationstate">State/Territory</label>
                                    </td>
                                    <td>
                                        <input id="locationstate" required></input>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="locationpostcode">Postcode</label>
                                    </td>
                                    <td>
                                        <input id="locationpostcode" maxlength="4" pattern="[0-9]{4}" title="Enter a 4 digit numeric postcode." required></input>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="referralstatement">How did you hear about Science Challenge?</label>
                                    </td>
                                    <td>
                                        <textarea id="referralstatement"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <h4>School information</h4>
                                        <p>?</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="schoolname">Name</label>
                                    </td>
                                    <td>
                                        <input id="schoolname" required></input>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="schooladdress">Address</label>
                                    </td>
                                    <td>
                                        <textarea id="schooladdress" required></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="schoolstate">State/Territory</label>
                                    </td>
                                    <td>
                                        <input id="schoolstate" required></input>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="schoolpostcode">Postcode</label>
                                    </td>
                                    <td>
                                        <input id="schoolpostcode" maxlength="4" pattern="[0-9]{4}" title="Enter a 4 digit numeric postcode."></input>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <h4>Mentor information</h4>
                                        <p>Every participant must have a mentor overseeing their activities in the Robogals Science Challenge.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="mentorfirstname">First name</label>
                                    </td>
                                    <td>
                                        <input id="mentorfirstname" required></input>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="mentorlastname">Last name</label>
                                    </td>
                                    <td>
                                        <input id="mentorlastname" required></input>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="mentoremail">Email address</label>
                                    </td>
                                    <td>
                                        <input id="mentoremail" type="email" required></input>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="mentorphone">Phone number</label>
                                    </td>
                                    <td>
                                        <input id="mentorphone" pattern="[0-9]*"></input>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="mentorrelationship">Relationship with participant</label>
                                    </td>
                                    <td>
                                        <textarea id="mentorrelationship" required></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                    </td>
                                    <td>
                                        <button type="submit">Submit</button>
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}